<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 想使用通配符的话，必须放到一个文件夹下比如subBeans之下，很奇怪…… -->
    <import resource="classpath:subBeans/*.xml"/>
</beans>